@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
body{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    background: #5372f0;
    align-items: center;
}
.card{
    align-items: center;
    width: 50vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 10px 14px 41px 8px rgba(0,0,0,0.38);
}
.header{
    border-bottom: 1px solid #5372f0;
    margin-top: 0px;
    background-color: #F5EFE6;
}
.header,.head{
    width: 100%;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    border-radius:15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.head{
    padding: 20px;
}
.guess{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size:25px;
    text-align: center;
    height: 150px;
}
.guessword{
    font-weight: 500;
    letter-spacing: 24px;
    text-transform: uppercase;
    margin-right: -24px;
}
.titlebox,.time,.title{
    padding: 5px;
    margin: 5px;
    font-size: large;
    font-weight: 600;
    margin-top: 1px;
    padding-top: 1px;
}
.wordinput{
    width: 89%;
    display: flex;
    justify-content: center;
    height: 25px;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(107, 107, 107);
    margin-left: 15px;
    font-size: 18px;
}

.wordinput:focus{
    outline: 1px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
}
.refresh,.check{
    width: 50%;
    border-radius: 5px;
    height: 50px;
    border: 0px;
}
.refresh{
    margin-right: 5px;
    background-color: #628E90;
    color:#fff;
}
.check{
    margin-left: 5px;
    background-color: #5372f0;
    color: #fff;
}