@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;600&display=swap');
:root {
    --border-color:rgb(204, 204, 204, 0.753);
    --text-clr: #0a0a0a;
    --option-hover-clr: #e9e9e9;
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: "poppins";
    display: grid;
    min-height: 40rem;
    place-items: center ;
    background: linear-gradient(to right, #457fca, #5691c8);
    font-family: 'Fira Sans', sans-serif;
}

input[type="radio"] {
    display: none;
}

.select {
    position: relative;
    width: 25rem;
}

.selected {
    background-color: #fefefe;
    padding: 12px 24px;
    border-radius: 0.45rem;
    cursor: pointer;
}

.selected::after {
    content: ' ';
    position: absolute;
    
    right: 10px;
    width: 1.2rem;
    height: 1.2rem;
    background:url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    
}

.options {
    position:absolute;
    top: calc(100% + 4px);
    background-color: #fefefe;
    border-radius: 0.45rem;
    width:100%;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    padding: 8px;
    opacity: 0;
}

.options.active {
    max-height: 200px;
    overflow-y: scroll;
    opacity: 1;
}

.options.active + .selected::after{
    transform: rotateX(180deg);
}
.options::-webkit-scrollbar{
    width: .375rem;
}
.options::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 0 8px 10px 0;
}

.option {
    display: block;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
}

.option:hover {
    background-color: var(--option-hover-clr);  
}